.hiddentext {
    display: none;
}

#pronounciation:hover #pronounciationtext {
    display: block;
}

#grammar:hover #grammartext {
    display: block;
}

#vocab:hover #vocabtext {
    display: block;
}



